<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Abril Consulting, Antonio Abril, Abril, Consulting">
    <meta name="author" content="Antonio Abril, Abril Consulting">

    <title>Abril Consulting</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/examples/jumbotron/jumbotron.css">
    <style type="text/css">
      ul {list-style-type: none;}
      a {text-decoration: none;}
      body {margin: 0; padding: 2em;}
    </style>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a href="/quienes_somos" class="navbar-brand">
              <img src='<%= static_path(@conn, "/images/ac_min.png") %>' width="20" height="20">
            </a>
            <p class='navbar-text'><b>Abril Consulting</b></p>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li role="presentation"><a class="nav-lin" href="/servicios">Servicios</a></li>
              <li role="presentation"><a class="nav-lin" href="/quienes_somos">¿Quiénes somos?</a></li>
              <li role="presentation"><a class="nav-lin" href="/contacto">Contacto</a></li>
            </ul>
          </div>
        </nav>
      </header>

      <hr>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <hr>

      <footer class='footer'>
        <div class='row'>
          <div class='col-md-6 col-xs-6'>
            <p class='text-muted'>Abril Consulting - 2017</p>
          </div>
          <div class='col-md-6 col-xs-6 text-right'>
            <p class='text-muted'><a href="/contacto">Contacto</a></p>
          </div>
        </div>
      </footer>
    </div> <!-- /container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/37ffc7daeb.js"></script>
  </body>
</html>
